
{% extends 'base.html' %}

{% block title %}Anasayfa - {{ block.super}} {% endblock %}

{% block body %}

    <style>
      body {
        background-image: url("http://wallpapers4screen.com/Uploads/8-2-2016/28129/tropical-islands-beach-palm-trees-island-sand.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

      }
    </style>
    <div class="banner">
        <center>
            <font size="100"> ~KAFES~
        </center>

        <center>
         <font size="6"face="Arial" color="white">Kafes, 8 erkek ve 4 kadından oluşan herkesin tek başına olduğu bir adada hayatta kalma yarışmasıdır.
        Yarışmacılara sadece haftada bir defa erzak verilir ve her hafta ödül oyunlarına çağırılır
        bundan dolayı eğer ölmezseniz en şanslısı sizsiniz.
        </center>
    </div>




    <div class="banner">
        <center>
            <h1><font color="black" size="5" face="Arial"> YARIŞMACILAR: <h1>
        </center>
    </div>
    <div class="container-fluid">
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-3 col-sm-6"><font color="black" size="3" face="Arial"><center> EREN <center>
            <img style="height: 150px!important;" src="https://img.acunn.com/uploads/yarismaci/2021/12/12/baris-murat-2104445842061b5ca295e9df.jpg"  class="img-responsive"></div>
            <div class="col-md-3 col-sm-6"><center>GAMZE<center>
            <img style="height: 150px!important;" src="https://img.acunn.com/uploads/yarismaci/2021/12/12/nisa2105902346061b5d47673d01.jpg" class="img-responsive"></div>
            <div class="col-md-3 col-sm-6"><center>KAAN<center>
            <img style="height: 150px!important;" src="https://img.acunn.com/uploads/yarismaci/2021/12/12/berkan2191822800861b5d16fdbf01.jpg" class="img-responsive"></div>
            <div class="col-md-3 col-sm-6"><center>MELİKE<center>
            <img style="height: 150px!important;" src="https://img.acunn.com/uploads/yarismaci/2022/01/24/basliksiz-2103102872161eea972a9d56.jpg" class="img-responsive"></div>
        </div>

        <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-3 col-sm-6"><center>MERVE<center>
            <img style="height: 150px!important;" src="https://img.acunn.com/uploads/yarismaci/2021/12/12/nagihan2129144396561b5cc529a10d.jpg" class="img-responsive"></div>
            <div class="col-md-3 col-sm-6"><center>SEFA<center>
            <img style="height: 150px!important;" src="https://img.acunn.com/uploads/yarismaci/2021/12/12/basliksiz-2203964474861b5d586c6572.jpg"  class="img-responsive"></div>
            <div class="col-md-3 col-sm-6"><center>RIDVAN<center>
            <img style="height: 150px!important;" src="https://img.acunn.com/uploads/yarismaci/2021/12/12/sercan2213562578261b5c97b390f1.jpg" class="img-responsive"></div>
            <div class="col-md-3 col-sm-6"><center>YUSUF<center>
            <img style="height: 150px!important;" src="https://img.acunn.com/uploads/yarismaci/2021/12/12/ogeday2108398784161b5cef7c6a97.jpg" class="img-responsive"></div>
        </div>

    <div class="banner">

            <h1><font color="#8b0000" size="5" face="Arial"> ELEME POTASINDAKİLER:<h1>
    </div>
    <div class="container-fluid">
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-2 col-sm-6"><font size="3"><center> EREN <center>
            <img style="height: 100px!important;" src="https://img.acunn.com/uploads/yarismaci/2021/12/12/baris-murat-2104445842061b5ca295e9df.jpg"  class="img-responsive"></div>
            <div class="col-md-2 col-sm-6"><center>KAAN<center>
            <img style="height: 100px!important;" src="https://img.acunn.com/uploads/yarismaci/2021/12/12/berkan2191822800861b5d16fdbf01.jpg" class="img-responsive"></div>
    </div>

    <div class

{% endblock %}